<div class="bg-gray-900 text-white flex items-center justify-between p-4 text-xl">
  <div class="flex justify-center items-">
    <div class="flex justify-center items-center gap-2 lg:mx-12">
      <a class="flex justify-center items-center gap-2" routerLink="/">
        <mat-icon class="material-icons-outlined">home</mat-icon>
        Apex
      </a>
    </div>
  </div>

  <button class="lg:hidden" (click)="toggleMenu()">
    <mat-icon class="material-icons-outlined">menu</mat-icon>
  </button>

  <div class="hidden lg:flex justify-center items-center gap-10">
    <div class="flex justify-center items-center gap-2">
      <a class="flex justify-center items-center gap-2" routerLink="/about">
        <mat-icon class="material-icons-outlined">info</mat-icon>
        About Us
      </a>
    </div>
    <div class="flex justify-center items-center gap-2">
      <a class="flex justify-center items-center gap-2" routerLink="/contact">
        <mat-icon class="material-icons-outlined">perm_contact_cal</mat-icon>
        Contact Us
      </a>
    </div>
    <div class="flex justify-center items-center gap-2">
      <a class="flex justify-center items-center gap-2" routerLink="/">
        <mat-icon class="material-icons-outlined">logout</mat-icon>
        Logout
      </a>
    </div>
  </div>

  <div *ngIf="isMenuOpen" class="fixed inset-0 bg-gray-800 bg-opacity-75 z-50" (click)="toggleMenu()">
    <div class="bg-gray-900 text-white w-1/2 h-full right-0 fixed shadow-lg py-6 px-4" (click)="$event.stopPropagation()">
      <button (click)="toggleMenu()" class="absolute top-4 right-4">
        <mat-icon class="material-icons-outlined">close</mat-icon>
      </button>
      <div class="flex flex-col items-start space-y-4 mt-12">
        <div class="flex justify-center items-center gap-2">
          <a class="flex justify-center items-center gap-2" routerLink="/about">
            <mat-icon class="material-icons-outlined">info</mat-icon>
            About Us
          </a>
        </div>
        <div class="flex justify-center items-center gap-2">
          <a class="flex justify-center items-center gap-2" routerLink="/contact">
            <mat-icon class="material-icons-outlined">perm_contact_cal</mat-icon>
            Contact Us
          </a>
        </div>
        <div class="flex justify-center items-center gap-2">
          <a class="flex justify-center items-center gap-2" routerLink="/">
            <mat-icon class="material-icons-outlined">logout</mat-icon>
            Logout
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
